.title {
  margin-bottom: 50px;
}

.main__clcik__button {
  width: 100px;
  margin-top: 50px;
}

.main__result__text {
  margin-top: 20px;
}

/* tablet */
@media screen and (max-width: 1024px) {
}

/* mobile */
@media screen and (max-width: 480px) {
  .title {
    margin-bottom: 50px;
  }
}
